@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav">
    @if (User.Identity.Name.Equals("admin@gmail.com"))
    {
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Operaciones
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/Productos">Gestionar productos</a></li>
                <li><a href="/Categorias">Gestionar categorias</a></li>
                <li><a href="/Stocks">Productos a reponer</a></li>
            </ul>
        </li>
    }
    @if (!User.Identity.Name.Equals("admin@gmail.com"))
    {
        <li>
            <a href="/CarritoCompra">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                </svg>
            </a>
        </li>
    }
        <li>
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right" style="margin-right: 5px">
        <li class="navbar-right"><a href="/Account/Register"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
        <li class="navbar-right"><a href="/Account/Login"><span class="glyphicon glyphicon-log-in"></span> Iniciar sesion</a></li>
    </ul>
}
