@{
    ViewBag.Title = "Home Page";
}

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
        <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity"><picture style="font-size: 1.5vw;">Tienda Virtual</picture></span>
    </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
    <h3 class="w3-center">SOBRE NOSOTROS</h3>
    <p class="w3-center"><em>La mejor tienda online</em></p>
    <p>
        Tienda Virtual nació con la idea de darte la posibilidad de acceder a los productos tecnológicos más novedosos de manera rápida, sencilla y a buen precio. Queremos generar en vos esa chispa emprendedora para que puedas crear e impulsar tus proyectos, proporcionándote las herramientas elementales que se necesitan hoy en día.Somos un grupo de jóvenes emprendedores que tiene como objetivo ayudarte a cumplir tus sueños. Queremos brindarte todo lo que necesitas para darle forma a tus ideas, desde algo tan esencial como una notebook hasta lo mas especifico como un circuito integrado.
    </p>
    <div class="w3-row">
        <div class="w3-col m6 w3-center w3-padding-large">
            <img src="http://2xmil.es/wp-content/uploads/2015/12/tienda-online.jpg" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me" width="500" height="333">
        </div>

        <!-- Hide this text on small devices -->
        <div class="w3-col m6 w3-hide-small w3-padding-large">
            <p>
                ¿Por qué Tienda Virtual?

            <p>• +50.000 clientes disfrutan de la experiencia tienda virtual.</p>
            <p>
                • Tienda Virtual nació con la idea de darte la posibilidad de acceder a los productos más novedosos de manera rápida, sencilla y a buen precio.
            </p>
            <p>
                • Importadores directos.
            </p>
            <p>
                • Los mejores en nuestra área, no tengas la más mínima duda.
            </p>
            </p>
        </div>
    </div>
    <p class="w3-large w3-center w3-padding-16">Somos los mejores en:</p>
    <br />
    <p class="w3-wide">Calidad</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">90%</div>
    </div>
    <br />
    <p class="w3-wide">Variedad</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:85%">85%</div>
    </div>
    <br />
    <p class="w3-wide">Distribución</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">75%</div>
    </div>
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">14+</span><br>
        Distribuidores
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">55+</span><br>
        Ventas realizadas
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">89+</span><br>
        Usuarios satisfechos
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">150+</span><br>
        Productos disponibles
    </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
    <div class="w3-display-middle" style="color: darkslategray;">
        <span class="w3-xxlarge w3-text-white w3-wide" ><p style="text-align:center; color: darkslategrey;"><b>COMPRA DE FORMA SEGURA</b></p></span>
    </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">
    <h3 class="w3-center">GARANTÍA, PROTECCIÓN Y BUEN SERVICIO</h3>
    <p class="w3-center">
        <em>
            Recibe el producto en tu domicilio o te devolvemos el dinero.<br> Te ofrecemos el más alto estándar de seguridad para tu pago.
            <br /><br /><span class="material-icons" style="font-size: 100px;">
                verified
            </span>
        </em>
    </p><br>

    <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
    <div class="w3-row-padding w3-center">

    </div>

    <div class="w3-row-padding w3-center w3-section">

    </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
    <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img01" class="w3-image">
        <p id="caption" class="w3-opacity w3-large"></p>
    </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
        <span class="w3-xxlarge w3-text-white w3-wide"><p style="text-align:center;"><b>CONTACTO</b></p></span>
    </div>
</div>

<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-64" id="contact">
    <h3 class="w3-center">Puede contactarnos en cualquier momento</h3>
    <p class="w3-center"><em>¡Le estaremos esperando!</em></p>

    <br />
    <br />
    <br />

    <div class="w3-col m8 w3-panel">
        <div class="w3-large w3-margin-bottom">
            <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Madrid, España<br>
                                                                                                               <br />
            <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +34 645675345<br>
                                                                                                                <br />
            <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: tiendavirtual@gmail.com<br>
        </div>

        </form>

    </div>
</div>
